/* Bootstrap padding fixes*/
.container, .container-fluid {
    padding: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
/* end */

body {
    margin: 0;
    padding: 0;
    font-family: 'Circe', sans-serif;
    color: white;
}

.main-promo {
    /*background-image: url('/assets/images/png/bg.png');*/
	background: url('../images/png/bg.png') center center no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
}

.main-promo .bg-part {
    position: fixed;
    font-size: 36px;
    color: #186e99;
}

.main-promo .bg-part-light {
    top: 20%;
    left: 5%;
    transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
}

.main-promo .bg-part-dashboard {
    top: 12%;
    left: 40%;
    transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    font-size: 32px;
}

.main-promo .bg-part-map-location {
    top: 45%;
    left: 2%;
    transform: rotate(25deg);
    color: #71cbe7;
    font-size: 50px;
}

.main-promo .bg-part-speed-limit {
    top: 72%;
    left: 22%;
    transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    font-size: 45px;
}

.main-promo .bg-part-gearbox-2 {
    top: 85%;
    left: 10%;
    font-size: 45px;
}

.main-promo .bg-part-gearbox {
    top: 19%;
    right: 32%;
    font-size: 48px;
}

.main-promo .bg-part-traffic-light {
    top: 7%;
    right: 4%;
    transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    color: #146094;
    font-size: 50px;
}

.main-promo .bg-part-mechanics {
    top: 74%;
    right: 31%;
    transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -o-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    font-size: 45px;
}

.main-promo .bg-part-steering-wheel {
    bottom: 7%;
    right: 7%;
    font-size: 47px;
}

.reg-promo-page {
    background-color: rgba(156, 251, 255, 0.3);
    position:relative;
}

.reg-promo-page .steering-wheel-container{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.reg-promo-page .steering-wheel {
    right: -50%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

@keyframes car-move {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@-o-keyframes car-move {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@-webkit-keyframes car-move {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes car-move {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.animated-promo-car {
    background: url(../images/png/car.png) no-repeat;
    height: 326px;
    width: 1462px;
    position: absolute;
    animation: car-move 0.7s forwards ease-out;
    -moz-animation: car-move 0.7s forwards ease-out;
    -webkit-animation: car-move 0.7s forwards ease-out;
    -o-animation: car-move 0.7s forwards ease-out;
    /*animation-timing-function: ;*/
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.promo-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}


header {
    position: fixed;
    left: 0;
    right: 0;
}
.header-content {
    margin: 0 130px;
    padding-top: 3%;
}

.logo {
    font-size: 44px;
    width: 194px;
    float: left;
}

.gerb {
    font-size: 44px;
}

.gerb-text {
    float: right;
}

.main-info {
    margin-left: 130px;
    width: 419px;
    opacity: 0;
    animation: fade-in 1s forwards 0.7s;
	-moz-animation: fade-in 1s forwards 0.7s;
    -webkit-animation: fade-in 1s forwards 0.7s;
    -o-animation: fade-in 1s forwards 0.7s;
}

.start-soon {
    font-size: 24pt;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 40px;
}

.main-info-description {
    font-size: 20pt;
    font-weight: 600;
    margin-top: 38px;
    letter-spacing: 1px;
}

.start-date {
    color: #16475b;
    margin-top: 40px;
}

.main-info-calendar {
    font-size: 31pt;
    margin-left: -7px;
    float: left;
}

.start-date-text {
    font-size: 13pt;
    font-weight: 600;
    margin-left: 8px;
    float: left;
}

.main-promo-price {
    position: absolute;
    bottom: 7px;
    left: 0;
    right: 0;
}

.main-promo-price .text {
    text-align: center;
}

.main-promo-price-free {
    font-size: 16pt;
    font-weight: 600;
    line-height: 20pt;
}

.main-promo-price-tariff {
    margin: 7px;
    font-size: 11pt;
}

.mouse-container {
    text-align: center;
}

.top-margin-reg-form {
    min-height: 75px;
    height: 8%;
}
.reg-form-container {
    font-family: 'Circe', sans-serif !important;
}

.reg-form-name {
    font-weight: 600;
    color: #114867;
    font-size: 22pt;
    text-align: center;
    margin-bottom: 0px;
}

.reg-form-free {
    font-weight: 600;
    color: #f63b8d;
    font-size: 16pt;
    text-align: center;
    margin-top: 5px;
}

.registration-from {
    margin-top: 30px;
}

.reg-form-inputs .text-input {
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid #62c6e2;
    width: 100%;
    font-size: 11pt;
    color: #17485c;
}

.reg-form-inputs .input-container {
    text-align: center;
    margin-bottom: 25px;
}

.reg-form-inputs .submit-container {
    margin: 0 auto 25px;
    width: 100%;
    text-align: right;
}
.reg-form-inputs .checkbox-container label{
    float: left;
    text-align: left;
    cursor: pointer;
}

.reg-form-inputs .checkbox-container .checkbox-input-container{
    display: table-cell;
    cursor: pointer;
}

.reg-form-inputs .checkbox-container .checkbox-input-label{
    font-family: 'Open Sans', sans-serif;
    display: table-cell;
    font-size: 10pt;
    font-style: italic;
    font-weight: normal;
    color: #848484;
    padding-left: 8px;
    width: 200px;
}

.cool-button {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 11pt;
    padding: 8px 25px;
    text-transform: uppercase;
    color: white;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #ff7b5e;
    background: -moz-linear-gradient(top, #ff7b5e 0%, #f31b94 100%);
    background: -webkit-linear-gradient(top, #ff7b5e 0%,#f31b94 100%);
    background: linear-gradient(to bottom, #ff7b5e 0%,#f31b94 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b5e', endColorstr='#f31b94',GradientType=0 );
    -webkit-box-shadow: 0px 13px 21px -4px rgba(38, 145, 216, 0.6);
    -moz-box-shadow: 0px 13px 21px -4px rgba(38, 145, 216, 0.6);
    box-shadow: 0px 13px 21px -4px rgba(38, 145, 216, 0.6);
}

.cool-button:active {
    transform: translateY(4px);
    background: #f99683;
    background: -moz-linear-gradient(top, #f99683 0%, #f952b0 100%);
    background: -webkit-linear-gradient(top, #f99683 0%,#f952b0 100%);
    background: linear-gradient(to bottom, #f99683 0%,#f952b0 100%);
    -webkit-box-shadow: 0px 3px 8px 0px rgba(38, 145, 216, 0.6);
    -moz-box-shadow: 0px 3px 8px 0px rgba(38, 145, 216, 0.6);
    box-shadow: 0px 3px 8px 0px rgba(38, 145, 216, 0.6);
}

.cool-button:hover {
    background: #f99683;
    background: -moz-linear-gradient(top, #f99683 0%, #f952b0 100%);
    background: -webkit-linear-gradient(top, #f99683 0%,#f952b0 100%);
    background: linear-gradient(to bottom, #f99683 0%,#f952b0 100%);
}


.reg-form-inputs .input-placeholder-container {
    position: relative;
}

.promo-code-dialog {
    color: #434343;
}

.reg-form-twitter-news {
    /*position: absolute;*/
    position: static;
    bottom: 45px;
    left: 0;
    right: 0;
}

.twitter-news-content {
    margin: 0 130px;
    float: left;
}

.twitter-news-content .title {
    font-size: 16pt;
    font-weight: 600;
}

.twitter-news-content .news-blocks {
    margin-top: 10px;
    color: #17485c
}

.twitter-news-content .news-block-container{
    padding: 0 0 0 20px;
}

.twitter-news-content .news-block-container:first-child {
    padding: 0;
}

.twitter-news-content .news-block {
    background-color: rgba(255, 255, 255, 0.5);
    height: 140px;
    padding: 18px 25px;
}

.twitter-news-content .news-block .date {
    text-transform: lowercase;
    font-size: 10pt;
}

.twitter-news-content .news-block .news-text {
    font-size: 14pt;
    padding-top: 11px;
    line-height: 16pt;
}

.error-message-box {
    color: #434343;
}

@media (min-width: 768px) and (max-width: 1200px) {
    .twitter-news-content .news-block .news-text {
        font-size: 12pt;
        padding-top: 11px;
        line-height: 14pt;
    }
}

@media (max-width: 925px) {
    .header-content {
        margin: 0 60px;
    }
    .main-info {
        margin-left: 60px;
    }
    .twitter-news-content {
        margin: 0 60px;
    }
}

@media (max-width: 768px) {
    .header-content {
        margin: 0 13px;
    }
    .main-info {
        margin-left: 13px;
    }
    .main-promo .bg-part{
        font-size: 30px;
    }
    .twitter-news-content {
        margin: 0px;
        padding: 0 13px;
        width: 100%;
    }
    
    .twitter-news-content .news-block .news-text {
        font-size: 12pt;
        padding-top: 11px;
        line-height: 14pt;
    }
    .twitter-news-content .news-block {
        height: 90px;
    }
    
    .twitter-news-content .title {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }
    .twitter-news-content .news-block-container:nth-child(n) {
        padding: 0 20px 10px;
    }
    .steering-wheel-container {
        display: none;
    }
    .reg-form-twitter-news {
        bottom: 16px;
    }
    .animated-promo-car {
        animation: none;
        -moz-animation: none;
        -webkit-animation: none;
        -o-animation: none;
        background-position: -220px;
    }
    .main-info-description {
        width: 78%;
    }
    .start-date-text {
        width: 60%;
        font-size: 11pt;
    }
    .main-info-calendar {
        font-size: 26pt;
    }
    .main-promo-price-tariff {
        margin: 4px;
        font-size: 10pt;
    }
    .main-promo-price-free {
        font-size: 15pt;
        line-height: 22px;
    }
    .reg-form-name {
        font-size: 16pt;
        margin-top: 0;
    }
    .reg-form-free {
        font-size: 13pt;
    }
    .registration-from {
        margin-top: 0;
    }
    .cool-button {
        font-size: 9pt;
    }
    .reg-form-inputs .input-container {
        margin-bottom: 10px;
    }
    .reg-form-inputs .submit-container {
        text-align: center;
        margin: 0;
    }
    .reg-form-inputs .checkbox-container label {
        float: none;
    }
}

@media (max-width: 580px) {
    .gerb {
        display: none;
    }
    .gerb-text {
        height: 62px;
        vertical-align: middle;
        display: table-cell;
        float: none;
        padding-left: 20px;
    }
    .logo {
        display: table-cell;
    }
}

@media (max-height: 800px) and (max-width: 768px) {
    .logo {
        font-size: 35px;
        width: 154px;
    }
    .gerb {
        font-size: 31px;
    }
    .gerb-text {
        height: 50px;
    }
    .mouse-container {
        display: none;
    }
    .reg-form-inputs .input-container {
        margin-bottom: 5px;
    }
    .reg-form-name {
        font-size: 13pt;
        margin-top: 3px;
    }
    .reg-form-free {
        font-size: 11pt;
    }
    .twitter-news-content .title {
        font-size: 14pt;
    }
    .twitter-news-content .news-blocks {
        margin-top: 5px;
    }
    .twitter-news-content .news-block {
        padding: 10px 20px;
        height: 60px;
    }
    .twitter-news-content .news-block .date {
        margin: 0;
    }
    .twitter-news-content .news-block .news-text {
        padding-top: 2px;
    }
}

@media (max-height: 642px) and (max-width: 768px) {
    .cool-button {
        font-size: 9pt;
    }
    .top-margin-reg-form {
        height: 46px;
        min-height: 0;
    }
    .header-content {
        padding-top: 5px;
    }
    .reg-form-free {
        font-size: 9pt;
        margin: 0px;
        height: 14px;
    }
    .custom-input label {
        font-size: 11px;
    }
    .custom-input label.active {
        top: -5px;
        font-size: 9px;
    }
    .reg-form-inputs .text-input {
        font-size: 11pt;
        height: 13px;
    }
    .reg-form-inputs .checkbox-container .checkbox-input-label {
        font-size: 8pt;
    }
    .reg-form-twitter-news {
        bottom: 7px;
    }
}

@media (max-width: 400px) and (min-height: 500px){
    .logo {
        font-size: 35px;
        width: 154px;
    }
    .gerb-text {
        height: 50px;
    }
    .animated-promo-car {
        height: 294px;
        width: 100%;
        background: #ff7b53;
        background: url('../images/png/mobile-car.png') bottom right no-repeat, -webkit-linear-gradient(-45deg, #ff7b53 0%,#f41a8b 100%);
        background: url('../images/png/mobile-car.png') bottom right no-repeat, linear-gradient(135deg, #ff7b53 0%,#f41a8b 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#ff7b53', endColorstr='#f41a8b',GradientType=1 );
        background-size: 89px 200px, cover;
    }
    .main-info {
        max-width: 361px;
        margin-left: 0;
        padding: 0 20px;
    }
    .start-soon {
        margin-top: 15px;
        font-size: 24pt;
        letter-spacing: 4px;
    }
    .main-info-description {
        width: 100%;
        margin-top: 10px;
        font-size: 14pt;
    }
    .main-info-calendar {
        margin-top: 8px;
    }
    .twitter-news-content .news-block .date {
        font-size: 8pt;
    }
    .twitter-news-content .news-block .news-text {
        font-size: 10pt;
        line-height: 10pt;
    }
    .twitter-news-content .news-block-container:nth-child(n){
        padding-top: 3px;
        padding-bottom: 4px;
    }
    
    .twitter-news-content .news-blocks {
        margin-top: 0px;
    }
}
@media (max-width: 400px) and (max-height: 500px){
    .animated-promo-car {
        background-position: -320px;
        background-size: cover;
        height: 210px;
        background: url(../images/png/car.png) no-repeat;
    }
    .twitter-news-content .news-block .news-text {
        font-size: 10pt;
        line-height: 10pt;
    }
}

@media (max-width: 350px) {
    .gerb-text {
        display: none;
    }
}

@media (max-height: 546px) and (max-width: 768px){
    .twitter-news-content .news-block-container:not(:first-child){
        display: none;
    }
}

@media (max-height: 546px) {
    .reg-form-name {
        font-size: 13pt;
        margin-top: 20px;
    }
    .custom-input label.active {
        top: -8px;
        font-size: 10px;
    }
    .reg-form-inputs .text-input {
        height: 21px;
    }
    .registration-from {
        margin-top: 20px;
    }
}

@media (max-height: 500px) {
    .animated-promo-car {
        background-position: -95px;
        background-size: contain;
        height: 210px;
    }
    .start-soon {
        font-size: 22pt;
        margin-top: 23px;
    }
    .main-info-description {
        font-size: 16pt;
        margin-top: 11px;
    }
    .start-date {
        margin-top: 10px;
    }
    .main-promo-price-free {
        font-size: 13pt;
        line-height: 19px;
    }
    .main-promo-price-tariff {
        margin: 3px;
        line-height: 12pt;
    }
}
@media (max-height: 470px) {
    .news-blocks {
        display: none;
    }
}

@media (max-width: 768px) and (max-height: 400px){
    .reg-form-name {
        font-size: 13pt;
        margin-top: 3px;
    }
    .reg-form-free {
        font-size: 9pt;
        margin: 0px;
        height: 14px;
    }
    .registration-from {
        margin-top: 0px;
    }
    .reg-form-inputs .input-container {
        margin-bottom: 5px;
    }
    .custom-input label {
        font-size: 11px;
    }
    .reg-form-inputs .text-input {
        font-size: 11pt;
        height: 16px;
    }
}

@media (max-width: 768px) and (max-height: 360px){
    .reg-form-inputs .checkbox-container .checkbox-input-label {
        width: 250px;
    }
    .animated-promo-car {
        background-position: 0px;
        background-size: contain;
        height: 164px;
    }
    .start-soon {
        font-size: 19pt;
        margin-top: 17px;
    }
    .main-info-description {
        font-size: 13pt;
        margin-top: 10px;
    }
    .main-info-calendar {
        font-size: 23pt;
    }
    .start-date-text {
        font-size: 10pt;
    }
    .start-date {
        margin-top: 10px;
    }
    .main-promo-price-free {
        font-size: 11pt;
        line-height: 15px;
    }
    .main-promo-price-tariff {
        margin: 1px;
        line-height: 10pt;
        font-size: 8pt;
    }
    .top-margin-reg-form {
        height: 37px;
    }
    .q {
        display: inline-block;
        vertical-align: top;
    }
}